.card-overview {
    background-color: goldenrod;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    width: 4.85vw;
    cursor: pointer;
    margin-right: 0.2vw;
    margin-top: 0px;
    height: 5.5vw;
    word-wrap: break-word;
    padding-left: 0.1vw;
    padding-right: 0.1vw;

    & p {
        font-family: 'MedievalSharp', cursive;
        margin: 0.5vw 0 0 0;
        font-size: 1vw;
        line-height: 1vw;
    }
}

.card-overview:hover {
    background-color: orange;
}

