.card-overview {
    background-color: goldenrod;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    width: 73.3px;
    cursor: pointer;
    margin-right: 13.3px;
    margin-top: 0px;
    height: 80px;
    word-wrap: break-word;
    padding-left: 7px;
    padding-right: 7px;

    & span {
        font-family: 'MedievalSharp', cursive;
        margin: 0 0 0 0;
        font-size: 15px;
    }
}

.card-overview:hover {
    background-color: orange;
}

