.endConditionContainer {
    height: 9.7vw;
    width: 34.7vw;
    z-index: 10000;
    background-color: #1a3e59;
    border-radius: 1vw;
    border: 0.2vw solid goldenrod;
}

.endConditionContentHud {
    margin-top: 0.6vw;
    text-align: center;
    width: 34.7vw;
    .titleHud {
        font-family: 'MedievalSharp', cursive;
        color: gainsboro;
        font-size: 2vw;
    }    
}

.highScoreHud {
    font-size: 1.8vw;
    width: 34.5vw;
}

.exitButtonHud {
    width: 34.7vw;
    button {
        margin-top: 0.35vw;
        margin-left: -0.35vw;
        vertical-align: bottom;
        bottom: 0;
        border: 0.15vw brown solid;
        border-radius: 1vw;
        height: 3.6vw;
        width: 34.4vw;
        font-size: 2vw;
        cursor: pointer;
        background-color: #801336;
        font-family: 'MedievalSharp', cursive;
    }

    button:hover {
        background-color: #92113a;
    }

    a {
        color: goldenrod;
    }
}
