* {
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

body .game-container {
    background-image: url("/backgrounds/gameboard-background1.jpg");
    background-repeat: no-repeat;
    height: 115.5vh;
    background-size: cover;
    background-color: #badfdb;
    color: #fff;
}

.gameboard-container {
    width: 56.5vw;
    top: -3vw;
    margin-bottom: 0%;
    left: -7.5vw;
    border: 10px rgba(255,255,255,.15) solid;
    border-radius: 56.5vw;
}

.shrink {
    transform: scale(0.62);
}

.selected-card-container {
    position: absolute;
    top: 7.5vw;
    left: 42vw;
}

.monster-info-container {
    position: absolute;
    top: 33.5vw;
    left: 42vw;
}

.tradehud-panel-container {
    position: absolute;
    top: 16vw;
    left: 35vw;
}

.endCondition-panel-container {
    position: absolute;
    top: 24vw;
    left: 35vw;
}