.rules-page-container {
    background-image: url("../../assets/images/backgrounds/gameboard-background7.jpg");
  /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    height: 115.5vh;
    text-align: center;
  }

  .rules-page-content-container {
      display: inline-block;
      top: 7vw;
      width: 97vw;
      height: 80%;
      background-color: rgba(128,128,128,0.95);
      border-radius: 1.5vw;
  }

  .game-rules-link {
      color: blue;
  }

  .rules-page-hud {
    top: 2.5vw;
    text-align: left;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    & span {
        margin-left: 1.5vw;
        font-size: 1.5vw;
    }

    & li {
        margin-left: 3vw;
        list-style-type: circle;
        margin-bottom: 1vw;
    }
  }

  .rules-page-title-container {
      top: 2vw;
      width: 27vw;
      display: inline-block;
  }

  .rules-page-title {
    font-size: 3vw;
    color: goldenrod;
    font-family: 'MedievalSharp', cursive;
}
