.Acard {
  width: 16vw;
  border-radius: 1vw;
  background-color: #333;

  .name {
      padding-top: 0.75vw;
      text-align: center;
      font-size: 1.25vw;
      line-height: 1.25vw;
      font-family: 'MedievalSharp', cursive;
  }

  .image-container {
    height: 11vw;
    background-size: cover;
    background-position: center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    z-index: 1000;

    & .image {
      border-radius: 1vw;
      border-left: maroon solid 1vw;
      border-right: maroon solid 1vw;

      display: block;
      margin: auto;
      max-height: 100%;
    }
  }

  .card-footer {
    left: 1vw;
    width: 13.5vw;
    height: 6vw;
    display: block;
    font-size: 1vw;
    margin-bottom: 0.5vw;
    .text {
      left: 0.5vw;
      width: 85%;
      font-size: 1vw;
    }
  }
}

.card-option-container {
  margin-left: 0vw;
  height: 5vw;
  & .card-option {
      cursor: pointer;
      border-radius: 1vw;
      width: 16vw;
      display: block;
      font-family: 'MedievalSharp', cursive;
      font-size: 1vw;
      background-color: goldenrod;
      margin-bottom: 0.4vw;
  }
}