.monster-display-container {
    width: 16vw;
    border-radius: 1vw;
    background-color: maroon;
    padding-bottom: 1vw;

    .monster-display-title {
      font-family: 'MedievalSharp', cursive;
        text-align: center;
        font-size: 1.1vw;
        line-height: 1.75vw;
    }

    .card-footer {
        left: 5%;
        width: 90%;
        height: 2vw;
        display: block;
        font-size: 1vw;
        margin-bottom: 0.25vw;
        .text {
          left: 5%;
          width: 90%;
        }
      }

    .monster-card {
        border-radius: 1vw;
        left: 5%;
        padding-bottom: 0.25vw;
        display: block;
        width: 90%;
        background-color: brown;
        margin-bottom: 0.25vw;
        min-height: 3vw;

        .monster-name,
        .monster-type,
        .monster-effect {
            font-size: 0.75vw;
            left: 5%;
            width: 90%;
        }
    }
  }
