.csstransforms .cn-wrapper {
	position: absolute;
	top: 50.5%;
	left: 50%;
	z-index: 10;
	margin-top: -12.75em;
	margin-left: -13.5em;
	width: 27em;
	height: 27em;
	border-radius: 50%;
	background: transparent;
	opacity: 0;
	/* -webkit-transition: all .3s ease 0.3s;
	-moz-transition: all .3s ease 0.3s;
	transition: all 2.3s ease 2.3s; */
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
	pointer-events: none;
	overflow: hidden;
}

.csstransforms .cn-wrapper li {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-top: -1.3em;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 1.5em;
	/* -webkit-transition: all .45s ease;
	-moz-transition: all .45s ease;
	transition: all .6s ease; */
	-webkit-transform: rotate(-30deg) skew(30deg);
	-moz-transform: rotate(-30deg) skew(30deg);
	-ms-transform: rotate(-30deg) skew(30deg);
	transform: rotate(-30deg) skew(30deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	pointer-events: none;
}

.csstransforms .cn-wrapper li a {
	cursor: default;
	position: absolute;
	right: -7.25em;
	bottom: -7.25em;
	display: block;
	width: 14.5em;
	height: 14.5em;
	border-radius: 50%;
	background: transparent;
	color: transparent;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 1;
	-webkit-transform: skew(-30deg) rotate(-60deg) scale(1);
	-moz-transform: skew(-30deg) rotate(-60deg) scale(1);
	-ms-transform: skew(-30deg) rotate(-60deg) scale(1);
	transform: skew(-30deg) rotate(-60deg) scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: auto;
}

.csstransforms .cn-wrapper li a:focus {
    position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
}

.csstransforms .opened-nav li:first-child {
	-webkit-transform: rotate(30deg) skew(30deg);
	-moz-transform: rotate(30deg) skew(30deg);
	-ms-transform: rotate(30deg) skew(30deg);
	transform: rotate(30deg) skew(30deg);
}

.csstransforms .opened-nav li:nth-child(2) {
	-webkit-transform: rotate(90deg) skew(30deg);
	-moz-transform: rotate(90deg) skew(30deg);
	-ms-transform: rotate(90deg) skew(30deg);
	transform: rotate(90deg) skew(30deg);
}

.csstransforms .opened-nav  li:nth-child(3) {
	-webkit-transform: rotate(150deg) skew(30deg);
	-moz-transform: rotate(150deg) skew(30deg);
	-ms-transform: rotate(150deg) skew(30deg);
	transform: rotate(150deg) skew(30deg);
}

.csstransforms .opened-nav li:nth-child(4) {
	-webkit-transform: rotate(210deg) skew(30deg);
	-moz-transform: rotate(210deg) skew(30deg);
	-ms-transform: rotate(210deg) skew(30deg);
	transform: rotate(210deg) skew(30deg);
}

.csstransforms .opened-nav li:nth-child(5) {
	-webkit-transform: rotate(270deg) skew(30deg);
	-moz-transform: rotate(270deg) skew(30deg);
	-ms-transform: rotate(270deg) skew(30deg);
	transform: rotate(270deg) skew(30deg);
}

.csstransforms .opened-nav li:nth-child(6) {
	-webkit-transform: rotate(330deg) skew(30deg);
	-moz-transform: rotate(330deg) skew(30deg);
	-ms-transform: rotate(330deg) skew(30deg);
	transform: rotate(330deg) skew(30deg);
}