.sign-in {
    margin-top: 15vw;
    width: 27vw;
    display: flex;
    flex-direction: column;
    
    .title {
        margin: 0.5vw 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}