.overhead-title {
    font-family: 'MedievalSharp', cursive;
    font-size: 2vw;
    color: gainsboro;
    padding: 0vw 0.5vw 0px;
    background-color: #444444;
    border: 0.5vw solid #20655f;
    border-radius: 30px;
    cursor: pointer;
}

.title-container {
    z-index: 1000000;
    position: absolute;
    top:  0%;
    left: 0%;
    transform: translate(-50%,7.5%);
}

.go-to-main {
    text-decoration: none;
}

.home-title-container {
    left: 20%;
}