.sign-up {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    width: 27vw;
    color: goldenrod;

  & form {
    color: goldenrod;
  }

    .title {
      margin: 0.5vw 0 0 0;
    }
  }