.player-cards-panel-container {
    position: absolute;
    background-color: #333;
    z-index: 1000;
    height: 32.5vw;
    top: 11vw;
    width: 37vw;
    left: 62.25vw;
    border-radius: 10px;
}

.player-hud {
    display: inline-block;
    vertical-align: top;
    width: 5.5vw;
    height: 4.75vw;
    top: 0vw;
    margin-bottom: 0.5vw;
}

.hand-container {
    width: 30.5vw;
    height: 4.75vw;
    left: 0.5vw;
    display: inline-block;
    vertical-align: top;
    top: 0.5vw;
}

.hand-container > div {
    vertical-align: top;
}

.display-name {
    top: 1vw;
    left: 1vw;
    font-size: 1.1vw;
}

.display-points {
    top: 1vw;
    left: 1vw;
    font-size: 1.1vw;
}

.sticky {
    position: fixed;
}
