.status-button {
    cursor: pointer;
    font-size: 17px;
    width: 150%;
    border-radius: 10px;
    margin-top: 16%;
    background-color: goldenrod;
  }

  .status-button-container {
    position: absolute;
    top: 10%;
    left: 85%;
  }

  .shrinkText {
    font-size: 11px;
  }