.status-button {
  cursor: pointer;
  font-size: 1vw;
  width: 8vw;
  border-radius: 1vw;
  margin-top: 1%;
  background-color: goldenrod;
  font-family: 'MedievalSharp', cursive;
}

.status-button-container {
  position: relative;
  top: 0vw;
  left: 32.5vw;
}

.shrinkText {
  font-size: 1vw;
}
