.loading-background {
    background-image: url("../../assets/images/backgrounds/gameboard-background8.jpg");
  /* Center and scale the image nicely */
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    height:51.3vw;
    text-align: center;
  }