.main-background {
    background-image: url("/backgrounds/gameboard-background8.jpg");
  /* Center and scale the image nicely */

    background-repeat: no-repeat;
    background-size: cover;
    height: 102.5vh;
    text-align: center;
  }

  .main-container {
      display: inline-block;
      top: 14vw;
      width: 35vw;
      height: 24.0vw;
      background-color: rgba(128,128,128,0.6);
      border-radius: 2vw;
  }

  .main-content {
    top: 1.25vw;
    text-align: center;

    & button {
        cursor: pointer;
        width: 34vw;
        height: 4vw;
        border-radius: 2vw;
        text-decoration:none;
        text-shadow:0vw 0.1vw 0vw #ffee66;
        box-shadow:inset 0vw 0.1vw 0vw 0vw #cf866c;
        background-color:goldenrod;
        margin-bottom: 0.5vw;
        color: white;
        font-weight: bold;
        font-size: 1.5vw;

        & a {
            display: inline-block;
            height: 100%;
            width: 100%;
            color: white;
            font-weight: bold;
            font-size: 1.5vw;
            line-height: 3vw;
        }
    }

    & button:hover {
        background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
        background-color:#bc3315;
    }
  }

  .main-title-container {
      top: 1vw;
      width: 34vw;
      display: inline-block;
  }

  .overhead-title-main {
    font-family: 'MedievalSharp', cursive;
    font-size: 4vw;
    color: gainsboro;
    padding: 0.25vw 0.25vw 0vw;
    background-color: #444444;
    border: 0.25vw solid #20655f;
    border-radius: 1.75vw;
}

.subtitle-container {
    display: inline-block;
    width: 37vw;
    top: 0.5vw;
    left: -1vw;
    margin-top: 0.75vw;
}

.subtitle {
    font-size: 2vw;
    color: white;
}
