.login {
    width: 87vw;
    display: flex;
    justify-content: space-between;
    margin: 2vw auto;
  }

  .background {
    background-image: url("../../assets/backgrounds/gameboard-background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 102.5vh;
  }